<header
  class="h-screen max-h-screen flex flex-col justify-center items-center text-white relative"
>
  <div class="overlay absolute inset-0"></div>

  <h1 class="text-5xl md:text-7xl lg:text-8xl font-black relative z-10 mb-8">
    <span
      class="block bg-gradient-to-r from-base-300 via-amber-700 to-base-100 bg-clip-text text-transparent drop-shadow-2xl"
    >
      COFFEE
    </span>
    <span class="block text-white drop-shadow-2xl -mt-2"> MENU </span>
  </h1>
  <button class="btn btn-lg btn-base-100 z-20">Browse Menu</button>
</header>
<div class="my-container py-10">
  <app-menu-list />
</div>
